.Gif {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 16px;
  text-decoration: none;
  color: #000;
  width: 100%;
}
.Gif h4 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
}
.Gif img {
  object-fit: cover;
}
