.App {
  text-align: center;
}
.App-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 16px;
}
.nav {
  background: #000;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search a {
  color: #000;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  border: 1px solid #000;
}
.search a:hover {
  background-color: rgb(219, 178, 235);
  color: #000;
}
.App h1 {
  color: rgb(136, 13, 185);
  text-transform: uppercase;
}
